<link href="style.css" rel="stylesheet" type="text/css">
<script src="../main.js"></script>
<script src="../buttons.js"></script>
<div id="legwork-extension">
    <div id="legwork-popup"></div>
    <div id="legwork-my-projects">
        <div id="legwork-title-bar" class="window-bar">
            <div class="legwork-controls">
                <img id="legwork-back-button" class="icon" src="/icons/back.svg">
            </div>
            <h3 id="legwork-title">My Projects</h3>
            <div class="legwork-controls">
                <img id="legwork-search-button" class="icon" src="/icons/search.svg">
                <img id="legwork-add-button" class="icon" src="/icons/add.svg">
            </div>
        </div>
        <div id="legwork-search-div" style="display: none;">
            <input id='legwork-search-bar' type='search' placeholder="Search...">
        </div>
        <div id="legwork-file-list"></div>
        <div id="legwork-footer">
            <div id="legwork-footer-bar" class="window-bar">
                <img id="legwork-settings-button" class="icon" src="/icons/settings.svg">
            </div>
            <div id="legwork-toggle-highlight">
                    <label class="switch">
                        <input type="checkbox" id="legwork-is-highlight">
                        <span class="slider round"></span>
                    </label>
                    <p>Highlight</p>
                </div>
        </div>
    </div>
</div>