<div id="legwork-extension">
    <div id="legwork-create-popup">
            <div style="height: 25px;" class="window-bar">
                <h3 id="legwork-title">Add new project: </h3>
                <img id="legwork-exit-popup" class="icon" src="/icons/exit.svg">
            </div>
            <div id="legwork-create-options">
                <div style="margin-bottom: 15px;">
                    <p>Enter project name</p>
                    <input id="legwork-entry-name" maxlength="25" type="text" placeholder="Project name"></input>
                </div>
                <div style="float: right">
                        <button id="legwork-cancel-entry">Cancel</button>
                        <button id="legwork-add-entry">Add</button>
                    </div>
            </div>
        </div>
</div>