<div id="legwork-extension">
<div id="legwork-create-popup">
        <div style="height: 25px;" class="window-bar">
            <h3 id="legwork-title"></h3>
            <img id="legwork-exit-popup" class="icon" src="/icons/exit.svg">
        </div>
        <div id="legwork-preview">
            <div id="legwork-preview-data">
                <div id="legwork-preview-main">
                    <p id="legwork-preview-text"></p>
                </div>
                <div id="legwork-preview-options">
                    <img class="copy-button icon" src="/icons/edit.svg">
                    <img class="copy-button icon" src="/icons/copy.svg">
                </div>
                <div id="legwork-preview-images"></div>
                <div id="legwork-meta"></div>
            </div>
        </div>
    </div>
    </div>